.example-card {
  max-width: 500px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}
td{
  margin: 5px;
  padding: 15px;
}

.example-header-image {
  background-image: url('../../../../assets/user.png');
  background-size: cover;
}
.main-div{
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 80%;
  margin: 20px;
}
