<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{officer.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <td>Aadhar ID :</td>
          <td>{{officer.aadharId}}</td>
        </tr>
        <tr>
          <td>Phone No :</td>
          <td>{{officer.phoneNo}}</td>
        </tr>
        <tr>
          <td>Village No :</td>
          <td>{{officer.villageNo}}</td>
        </tr>
        <tr>
          <td>Ward List :</td>
          <!-- <td> -->
          <ul>
            <li *ngFor="let item of wardList">{{item}}</li>
          </ul>
          <!-- </td> -->
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
