.example-card {
  max-width: 400px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}
td{
  text-align: center;
  margin: 5px;
  padding: 15px;
}

.example-header-image {
  background-image: url('../../../../assets/officer.png');
  background-size: cover;
}
.main-div{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
