<app-navigation>
<div style="font-family:'Times New Roman', Times, serif;" class=" divc">
  <div class="header divc">
    <h1>ABOUT</h1>
  </div>
      </div>
<!-- <div class="d"> -->
  <br><br>
    <p style="font-family:'Times New Roman', Times, serif; margin: 100px;">We are introducing THE SECURE LAND BANK ANALYSIS using Blockchain. This is
a website consist of information regarding the land like type of land, survey
number, Ownership etc. And also, a provision for showing the property to sell.
By using blockchain we are securing the data regarding the land. Because now a
days all these information is stored in pen and paper format. So there is no
assurance for the data, it can be edited by any officials connected to the
government bodies. So in order to avoid this, we are keeping the data as
separate blocks and placing each governing official’s like Village officer,
Tahsildar, District Collector, Revenue Secretory, Minister and so on. If any
updations or editing is made in the data it will be informed by all other nodes,
and thereby we can cross check whether it is legal or illegal. Thus, we can avoid
corruption happening in various revenue offices to a extend.</p><br><br><br><br><br><br><br><br><br>
<!-- </div> -->
  </app-navigation>
