* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


/* Style the header */
.divc {
    height: 140px;
    background: linear-gradient(to right, #ffffff 0%, #0066ff 100%)
}
.header {
  padding: 30px;
  text-align: center;
  // background-image: url("faq.jpg");
  // background-image: url("logo_lba.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 200px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
