<div class="container">
  <form class="example-form" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <h3 style="font-family: 'Times New Roman', Times, serif;margin-bottom: 20px;">
      Enter the Land Details
    </h3>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>User Address</mat-label>
      <input matInput name="address" placeholder="User Address" required pattern="^0x[a-fA-F0-9]{40}$" ngModel>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Area</mat-label>
      <input matInput name="area" type="number" placeholder="Area" required ngModel>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Land Type</mat-label>
      <mat-select name="type" required ngModel>
        <mat-option *ngFor="let item of Land" value={{item.value}}>{{item.type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Register</button>
  </form>
</div>
