<app-navigation [ContentType]="3">
  <div class="font container">
    <form class="example-form" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput name="name" placeholder="Name" required ngModel>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Aadhar Number</mat-label>
        <input matInput name="aadharId" type="number" placeholder="Aadhar Number" pattern="^\d{12}$" required ngModel>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Phone Number</mat-label>
        <input matInput name="phoneNo" type="number" placeholder="Phone Number" pattern="^\d{10}$" required ngModel>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Village Number</mat-label>
        <input matInput name="villageNo" type="number" placeholder="Village Number" required ngModel>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Ward List By Coma</mat-label>
        <input matInput name="wardList" type="text" placeholder="Ward Number" required ngModel>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput name="address" placeholder="Enter the ETH Address" required pattern="^0x[a-fA-F0-9]{40}$"
          ngModel>
      </mat-form-field>
      <br />

      <button mat-raised-button color="primary">Register</button>
    </form>
  </div>
</app-navigation>
