.font{
  font-family:'Times New Roman', Times, serif;
}
.home-box{
  cursor: pointer;
	border-radius: 2px;
	background: #ffffff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
	margin: 30px;
	flex: 1;
  max-width: 300px;
max-height: 300px;
	padding: 30px 15px 15px 15px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.25s ease;
  min-width: 220px;
  min-height: 220px;
}
.bg{
  background-image: url('../../../assets/bg.jpg');
  width: 100%;
  height: 100%;
}
.home-box img{
	max-width: 150px;
	transition: all 0.25s ease;
}
button {
  margin-left:10px;
  margin-right:10px;
}
.home-box span{
	font-size: 17px;
    color: #333333;
    font-weight: 600;
	padding-top: 15px;
	margin-top: auto;
}

.home-box:hover{
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}
.home-box:hover img{
	transform: scale(1.1);
}
.home-title{
	margin-bottom: 2.6em;
}

.ripplelink{
	position:relative;
	overflow:hidden;
	transition: all 0.2s ease;
	z-index:0;
}


.ink {
  display: block;
  position: absolute;
  background:rgba(120, 123, 216, 0.15);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
	-webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}
