<app-navigation>
  <div class="font row error-area ptb--100 text-center d-flex align-items-center">
    <div class="bg  font d-flex justify-content-around flex-wrap" style="height: 600px;">
      <div align="center" class="container">
        <br><br><br><br><br><br>
        <a class="home-box ripplelink">
          <img src="../../../assets/user.png">
          <span>USER</span>
          <span>
            <button (click)="logInUser()">Sign In</button>
            <button (click)="logInUserReg()">Sign Up</button>
          </span>
        </a>
        <a class="home-box ripplelink" (click)="logInOfficer()">
          <img src="../../../assets/officer.png">
          <span>OFFICER</span><span></span>
        </a>
        <a class="home-box ripplelink" (click)="logInAdmin()">
          <img src="../../../assets/admin.png">
          <span>ADMIN</span><span></span>
        </a>
        <a class="home-box ripplelink" [routerLink]="['/view']" routerLinkActive="router-link-active">
          <img src="../../../assets/details.png">
          <span>View Details</span><span></span>
        </a>
      </div>

    </div>
  </div>

  <!-- <div align="center" class="col-sm-4">
  <a href="loginuser.html" target="_parent"><img src="../../../assets/user.jpg"width="140px"height="140px"></a>
  <h3>USER</h3>
</div>

<div align="center" class="col-sm-4">
  <a href="adminlogin.html" target="_parent"><img src="../../../assets/officer.png"width="120px"height="120px"></a>
  <h3>OFFICER</h3>
</div>

<div align="center" class="col-sm-4">
  <a href="adminlogin.html" target="_parent"><img src="../../../assets/admin.png"width="120px"height="120px"></a>
  <h3>ADMIN</h3>
</div> -->
</app-navigation>
