<app-navigation [ContentType]="-1">
  <mat-grid-list class="view" cols="2" rowHeight="2:1">
    <mat-grid-tile class="bg">
      <form (ngSubmit)="surveySearch('custom-modal')">
        <table class="fullwidth">
          <tr>
            <td>
              <div class="fullwidth text">
                SURVEY NUMBER
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="fullwidth">
                <input matInput type="number" placeholder="Enter the Survey No" name="surveyNo"
                  [(ngModel)]="surveyNo" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">
                <!-- (click)="search()" -->
                <button color="primary" mat-raised-button>
                  Submit
                </button>
              </p>
            </td>
          </tr>
        </table>
      </form>
      <br>
    </mat-grid-tile>

    <mat-grid-tile class="bg1">
      <form (ngSubmit)="transIdSearch('custom-modal')">
        <table class="fullwidth">
          <tr>
            <td>
              <div class="fullwidth text">
                TRANSACTION ID
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="fullwidth">
                <input matInput type="number" placeholder="Enter the Transaction ID" name="transId"
                  [(ngModel)]="transId" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">
                <!-- (click)="search()" -->
                <button color="primary" mat-raised-button>
                  Submit
                </button>
              </p>
            </td>
          </tr>
        </table>
      </form>
    </mat-grid-tile>

    <mat-grid-tile class="bg2">
      <form (ngSubmit)="changeLandSearch('custom-modal')">
        <table class="fullwidth">
          <tr>
            <td>
              <div class="fullwidth text">
                CHANGELAND ID
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="fullwidth">
                <input matInput type="number" placeholder="Enter the ChangeLand ID" name="transId"
                  [(ngModel)]="changelandId" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">
                <!-- (click)="search()" -->
                <button color="primary" mat-raised-button>
                  Submit
                </button>
              </p>
            </td>
          </tr>
        </table>
      </form>
    </mat-grid-tile>
  </mat-grid-list>
</app-navigation>
<jw-modal id="custom-modal">
  <div align="center">
    <div *ngIf="transcationModal">
      <h1>Transcation Id : {{transId}}</h1>
      <h2>Ward No : {{data.wardNo}}</h2>
      <h2>Survey No : {{data.surveyNo}}</h2>
      <h3>Area : {{data.area}}</h3>
      <h3>Land Type : {{data.landName}}</h3>
      <h3>Tax Amount Paid : {{data.amount}} ETH</h3>
    </div>
    <div *ngIf="surveyModal">
      <h1>Survey No : {{surveyNo}}</h1>
      <h2>Area : {{data.area}}</h2>
      <h3>Land Type : {{data.landName}}</h3>
      <p *ngIf="data.isActive"> Available</p>
      <p *ngIf="!data.isActive"> Not Available</p>
    </div>
    <div *ngIf="changelandIdModal">
      <h1>ChangeLand Id : {{changelandId}}</h1>
      <h2>Ward No : {{data.wardNo}}</h2>
      <h2>Survey No : {{data.surveyNo}}</h2>
      <h3>Land Type : {{data.ctype}}</h3>
      <h3>Proposed Land Type: {{data.ptype}}</h3>
      <h3 *ngIf="data.users.length!==0">Approverd Users: {{data.users}}</h3>
      <h3 *ngIf="data.Officer!=='0'">Approverd Officer: {{data.Officer}}</h3>
      <p *ngIf="data.Officer!=='0'"> Available</p>
      <p *ngIf="data.Officer==='0'"> Not Available</p>
    </div>
    <button mat-raised-button value="true" color="primary" (click)="closeModal('custom-modal');"
      style="margin-top: 10px;">Close</button>
  </div>
</jw-modal>
