
.home {
  margin: 30px;
}

.text {
  text-align: center;
  padding: 10px;
  font-family: 'Georgia', Georgia, serif;
  color: rgb(21, 62, 151);
  background-color: antiquewhite;
  font-size: large;
}

.bg {
  background-color: rgb(247, 220, 162);
  background-size: cover
}
.bg1 {
  background-color: rgb(230, 227, 214);
  background-size: cover
}
.bg2 {
  margin-left: 25%;
  background-color: rgb(6, 177, 106);
  background-size: cover
}
.view{
  background-color: rgb(6, 177, 106);

}
mat-form-field {
  width: 230px;
  margin:10px;
}
