<div class="container">
  <h3 style="font-family: 'Times New Roman', Times, serif;margin-bottom: 10px;">
    To Change the Land Property Details
  </h3>
  <br>
</div>
<div align="center" style="margin-top: 30px;" class="container">
  <table>
    <thead style="background-color: rgb(38, 38, 168); color: white; padding:10px;">
      <th> No. </th>
      <th> Survey No. </th>
      <th> LandType </th>
      <th> Proposed LandType </th>
      <th> Total Votes</th>
      <th> Vote</th>
    </thead>
    <tr *ngFor="let item of dataSource">
      <td> {{item.index}} </td>
      <td> {{item.survayNo}} </td>
      <td> {{item.currentLandType}} </td>
      <td> {{item.propossedlandType}} </td>
      <td> {{item.totelVotes}} </td>
      <td>
        <button (click)="vote(item.cl_id)" style="margin-left: 20px;" mat-raised-button value="true"
          color="primary">Vote</button>
      </td>
    </tr>
  </table>
</div>
