
<app-navigation>
    <div class="divc">
<div class="header divc">
  <h1>FAQ</h1>
    <!-- <h1><font color="black"><font size="9px"></font></h1> -->
</div>
    </div>
    <div style="margin: 100px;">
                  <h2>Registration</h2>
            <ol>
                <li>Who should register on helloaddress.com?</li>
                    <ul><li>Any person who want to sell, buy or rent a property can register to helloaddress.com. Only registered customers can post a property or post a requirement on our site.</li></ul>

<li>How can register on LBA?</li>
    <ul><li>One can register by submitting the required details in the sign up page. After sign-up you will have to verify your email id before you can start using your ID to login on LBA.</li></ul>

<li>Why should I register on LBA?</li>
<ul><li>LBA is a platform for all problems related to land to a extend.</li></ul>

<li>Can I use LBA without registering?</li>
<ul><li>yes, YOu can use LBA without registration, But a limited facilities are available.</li></ul>

<li>Why should I give my email id and contact details when I am registering on LBA?</li>
<ul><li>Your email ID will be used to create your unique ID on LBA. This helps to keep a connection with user and LBA.</li></ul>



<li>Should I enter the contact details during searching?</li>
<ul><li>No, There is no need of contact details entering during searching.</li></ul>

<li>What is my User ID?</li>
<ul><li>Email id is the user id.</li></ul>
</ol>
<h2>My Account</h2>
<ol>
<li>How do I log on to LBA?</li>
<ul><li>You can log on to LBA using your username and password created during Registration. If you forget your password, you can click on th link Forgot Password in the Homepage to create new password.</li></ul>

<li>How can I change the information I submitted during Registration?</li>
<ul><li>You can change information submitted during registration by clicking on Update Profile in your My Account Page after logging on to LBA with your user name and password.</li></ul>

<li>How can I change my password submitted on Registration?</li>
<ul><li>You can change your password by clicking on Change Password in your My Account Page after logging on to LBA with your user name and password.</li></ul>
</ol>
<h2>Search</h2>
<ol>

<li>Can I save my search results?</li>
<ul><li>You can use Save this Search option on top of the search result page to save the entire search page for future reference.</li></ul>

<li>How can I Search on LBA?</li>
<ul><li>Searching on LBA is made easy with our new features.</li></ul>
</ol>
<h2>Contact</h2>
<ol>
<li>How can I contact LBA?</li>
<ul><li>You can contact us through email at lba@gmail.com or call us at 0481-2587202 or write to us at lba@gmail.com</li></ul>
</ol>
</div>

</app-navigation>
