.example-card {
  max-width: 1000px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}
td{
  margin: 2px;
  padding: 10px;
  text-align: center;
}
thead {
  background-color: blue($color: #000000);
  margin: 2px;
}
th{
  margin: 2px;
  padding: 10px;
  background-color: blue($color: #000000);
  font-family:'Times New Roman', Times, serif;
  padding: 15px;
  text-align: center;
}
.example-header-image {
  background-image: url('../../../../assets/user.png');
  background-size: cover;
}
.main-div{
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 80%;
  margin: 20px;
}
.modal {
  left: 0;
  right: 0;
  background-color: #e1f5fe;
  padding: 0;
  max-height: 40%;
  width: 50%;
  will-change: top, opacity;
}
jw-modal-body {

}
