<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="font-weight: bold;">{{user.name}}</mat-card-title>
      <mat-card-subtitle style="font-weight: bold;">{{user.aadharId}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <td>Phone No :</td>
          <td>{{user.phoneNo}}</td>
        </tr>
        <tr>
          <td>Ward No :</td>
          <td>{{user.wardNo}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
<div align="center" style="margin-top: 30px;" class="container">
  <table>
    <thead style="background-color: rgb(38, 38, 168); color: white; padding:10px;">
      <th> No. </th>
      <th> Area </th>
      <th> LandType </th>
      <th> Survey No. </th>
      <th> Transfer Land</th>
      <th> Change the Land Propery</th>
      <th> Pay Tax</th>
    </thead>
    <tr *ngFor="let item of dataSource">
      <td> {{item.index}} </td>
      <td> {{item.area}} </td>
      <td> {{item.landName}} </td>
      <td> {{item.survayNo}} </td>
      <td>
        <button style="margin-left: 20px;" mat-raised-button value="true" color="primary"
          (click)="transfer('custom-modal',item.survayNo)" [disabled]="!item.isActive ">Transfer</button>
      </td>
      <td>
        <button (click)="change('custom-modal',item.survayNo)" [disabled]="!item.isActive " style="margin-left: 20px;"
          mat-raised-button value="true" color="primary">Change</button>
      </td>
      <td>
        <button (click)="paytax(item.survayNo,item.area)" [disabled]="!item.isActive" style="margin-left: 20px;"
          mat-raised-button value="true" color="primary">Pay
          Tax</button>
      </td>
    </tr>
  </table>
</div>
<!-- Modal Structure -->
<jw-modal id="custom-modal">
  <div align="center">

    <form class="example-form" (ngSubmit)="onSubmit(myForm)" *ngIf="transferModal === true" #myForm="ngForm">
      <mat-form-field class="example-full-width">
        <mat-label>Receiver Address </mat-label>
        <input matInput name="receiver" type="text" placeholder="Receiver Address" required
          pattern="^0x[a-fA-F0-9]{40}$" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Area</mat-label>
        <input matInput name="area" type="number" placeholder="Area" required ngModel>
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary">Submit</button>
    </form>
    <form class="example-form" (ngSubmit)="onSubmit(myForm)" *ngIf="changeModal === true" #myForm="ngForm">

      <mat-form-field class="example-full-width">
        <mat-label>Land Type</mat-label>
        <mat-select name="type" required ngModel>
          <mat-option *ngFor="let item of Land" value={{item.value}}>{{item.type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary">Submit</button>
    </form>
    <button mat-raised-button value="true" color="primary" (click)="closeModal('custom-modal');"
      style="margin-top: 10px;">Close</button>
  </div>
</jw-modal>
