<app-navigation [ContentType]="3">
  <div class="font container">
    <form class="example-form" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
      <br>
      <h3 style="font-family: 'Times New Roman', Times, serif;margin-bottom: 10px;">
        Enter the User Details
      </h3>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput name="name" placeholder="Name" required ngModel>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Aadhar Number</mat-label>
        <input matInput name="aadharId" type="number" placeholder="Aadhar Number" pattern="^\d{12}$" required ngModel>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Phone Number</mat-label>
        <input matInput name="phoneNo" type="number" placeholder="Phone Number" pattern="^\d{10}$" required ngModel>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Ward Number</mat-label>
        <input matInput name="wardNo" type="number" placeholder="Ward Number" required ngModel>
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary">Register</button>
    </form>
  </div>
</app-navigation>
