<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="color: white;font-family:'Times New Roman', Times, serif;">LBA</span>
      <span class="spacer"></span>
      <div [ngClass]="{ hideDesktopLinks: isHandset$ | async }" class="font desktopLinks">
        <div>
          <a *ngIf="ContentType === 0" [routerLink]="['']" routerLinkActive="router-link-active">Home</a>
          <a *ngIf="ContentType === -1" [routerLink]="['']" routerLinkActive="router-link-active">Back To Home</a>
          <a *ngIf="ContentType === 0" [routerLink]="['/faq']" routerLinkActive="router-link-active">FAQ</a>
          <a *ngIf="ContentType === 0" [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
          <a *ngIf="ContentType === 1" [routerLink]="['/user']" routerLinkActive="router-link-active">My Home</a>
          <a *ngIf="ContentType === 1" [routerLink]="['/user/user-approve']"
            routerLinkActive="router-link-active">Vote</a>
          <a *ngIf="ContentType === 2" [routerLink]="['/officer']" routerLinkActive="router-link-active">Main</a>
          <a *ngIf="ContentType === 2" [routerLink]="['/officer/officerReg']"
            routerLinkActive="router-link-active">Register Land</a>
          <a *ngIf="ContentType === 2" [routerLink]="['/officer/officerApprove']"
            routerLinkActive="router-link-active">Approve</a>
          <a *ngIf="ContentType > 0" (click)="logOut()">Log Out</a>
        </div>
        <!-- <div *ngIf="ContentType === 2"></div> -->
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
