.sidenav-container {
  height: 100%;
  width: 100%;
}
.font{
  font-family:'Times New Roman', Times, serif;
}
.sidenav {
  width: 150px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color: rgb(21, 62, 151);
  position: sticky;
  top: 0;
  z-index: 1;
}

.hideSideNav {
  display: none;
}
.hideDesktopLinks {
  display: none;
}
.spacer {
  flex: 1 1 auto;
}
mat-toolbar a {
  display: inline-block;
  margin: 0 20px;
  color: white;
  text-decoration: none;
}

// @media (min-width: 950px) {
//   .sidenav {
//     display: none;
//   }
// }
#logOut {
  cursor: pointer;
}

app-background-animation {
  z-index: -1;
}
